*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    
}

.main{
    width: 50vw;
    height: 100vh;
    background: url(background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 25px;

}
.part1 h1{
    color: #84073f;
    font-size: 3.5rem;
    line-height: 40px;
    font-style: oblique;
    font-weight: bolder;
    padding-bottom: 15px;
}
.part1 p{
    color: #270616;
    font-size: 1.3rem;
    font-weight: 700;
}
.hero .part2{
    background: linear-gradient(#84073f,#af5a7b);
    color: #fff;
    width: 50%;
    padding: 20px;
    gap: 10px;
    border: 1px solid #470826;
    border-radius: 25px;
}
.part2 p{
    font-size: 20px;
    font-weight: 400;
}
.part3{
    background: linear-gradient(#af5a7b,#84073f);
    width: 40%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    
    padding: 5px;
    padding-left: 5px;
    gap: 10px;
}
.part3 i{
    font-size: 35px;
    padding: 5px;
    color: #270616;
}
.part3 p{
    font-size: 20px;
    color: #270616;
}
.part4{
    background: linear-gradient(#af5a7b,#84073f);
    width: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 10px;

}
.part4 i{
    font-size: 35px;
    padding: 5px;
    color: #270616;
}
.part4 p{
    font-size: 15px;
    color: #270616;
}